<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koma.music">

    <!-- Used for caching and creating new playlists -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Used to check for a network connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to download images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to keep the service running when the phone sleeps -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- The main service uses a sticky broadcast -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Lower or raise the music based on the phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Used to set the devices's ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Used to create launcher shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- Used to check if the app is in the background -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <!-- Allows KomaMusic to read from External Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Audio Visualizer Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Accelerometer feature for shake to play -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <application
        android:name=".MusicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.koma.music.notification.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- MusicPlayerActivity -->
        <activity
            android:name=".play.MusicPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MusicPlayerTheme"></activity>
        <!-- Audio Preview -->
        <activity
            android:name=".audiopreview.AudioPreviewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/nav_setting"></activity>

        <activity
            android:name=".album.detail.AlbumDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"></activity>
        <!-- Music service -->
        <service
            android:name=".service.MusicService"
            android:label="@string/app_name"
            android:process=":main" />

        <receiver android:name=".service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>